body,html{
    margin:0;
    padding:0;
    min-height:100%;
    overflow-x:hidden;
}

body {
    font-family:sans-serif;
    background:linear-gradient(45deg,#f37646,#f3e946) 50% no-repeat;
    line-height:1.4;
    padding:0 50px 50px;
}

.title{
    margin-top:30px;
    margin-bottom:25px;
    font-size:25px;
    color:#fff;
    font-weight:700;
}

.item{
    margin:10px;
    background-color:#fff;
    box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
    transition: transform 0.3s;
}

.item:hover{
    transform:translate3d(0,-10px,0)
}

.item img{
    display:block;
    width:100%;
    height:auto
}

.item__body{
    padding:25px;
}
.item__title{
    font-size:24px;
    margin-bottom:5px;
    font-weight:700;
    color:#232323
}
.item__description{
    color:#585858;
}

/**
* Carousel
*/
.carousel {
    position: relative;
}
.carousel__item {
    float: left;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
    padding-bottom: 25px;
}
.carousel__container::after {
    content: "";
    clear: both;
    display: table;
}

/* Navigation */
.carousel__next, .carousel__prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
    transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__next {
    background: white url("../img/right.svg") center center no-repeat;
    background-size: 20px 20px;
    right: -20px;
}
.carousel__prev {
    background: white url("../img/left.svg") center center no-repeat;
    background-size: 20px 20px;
    left: -20px;
}
.carousel__prev--hidden, .carousel__next--hidden {
    opacity: 0;
    cursor: auto;
}

/* Pagination */
.carousel__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.carousel__pagination__button {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    box-shadow:0 2px 3px #3232321a;
    margin: 0 3px;
    transition: transform 0.3s;
    cursor: pointer;
}
.carousel__pagination__button--active, .carousel__pagination__button:hover {
    transform: scale(1.4);
}




/*test */
.test{
    text-align: center;
    margin: 50px 0 0 0;
    padding-bottom: 50px;
    position: relative;
}
.t-container {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    text-align: center;
    line-height: 50px;
    transition: transform 0.3s;
}
.t-container.active {
    transform: scale(1.1);
}

.t-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: transform 0.3s;
}

.t-pagination-item {
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 0 4px;
    border-radius: 50%;
    display:inline-block;
    transition: transform 0.3s;
}

.t-pagination-item:hover {
    transform: scale(1.3);
}