body,html{
    margin:0;
    padding:0;
    min-height:100%;
    overflow-x:hidden;
}

body {
    font-family:sans-serif;
    background:linear-gradient(45deg,#f37646,#f3e946) 50% no-repeat;
    line-height:1.4;
    padding:0 50px 50px;
}

.title{
    margin-top:30px;
    margin-bottom:25px;
    font-size:25px;
    color:#fff;
    font-weight:700;
}

.item{
    margin:10px;
    background-color:#fff;
    box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
    transition: transform 0.3s;
}

.item:hover{
    transform:translate3d(0,-10px,0)
}

.item img{
    display:block;
    width:100%;
    height:auto
}

.item__body{
    padding:25px;
}
.item__title{
    font-size:24px;
    margin-bottom:5px;
    font-weight:700;
    color:#232323
}
.item__description{
    color:#585858;
}

/**
* Carousel
*/
.carousel {
    position: relative;
}
.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}
.carousel__container::after {
    content: "";
    clear: both;
    display: table;
}
.carousel__item {
    float: left;
}
.carousel__prev, .carousel__next {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white url('../img/right.svg') center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    cursor: pointer;
    box-shadow:0 15px 35px #3232321a,0 5px 15px #0000001a;
    transition: transform 0.3s
}
.carousel__prev:hover, .carousel__next:hover {
    transform: scale(1.3);
}
.carousel__prev {
    background: white url('../img/left.svg') center no-repeat;
    background-size: 20px 20px;
    left: -20px;
    right: auto;
}
